<%- include("layouts/header") %>
<% var Path=new Array(6) %>
      <% var thumb=new Array(6) %>
      <% var name1=new Array(6) %>
      <% var title=new Array(6) %>
      <% var i=0,j=0,k=0,l=0  %>
      <% for (var{ user:{_id:id1,name:z},filePath:x,thumbnail:y,title:t} of videos){ %>
        <%  Path[i++]=x %>
            <% thumb[j++]=y %>  
            <% name1[k++]=z %>
            <% title[l++]=t %>
            <% } %>   
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="css/glider.min.css" rel="stylesheet" type="text/css">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <link rel="stylesheet" type="text/css" href="/public/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/main.css">

        <!-- <title>Glide</title> -->
    </head>
    <body>
        
        <div class="glider-contain multiple">
            <h1>All the videos uploaded</h1>
            <button class="glider-prev">
                <i class="fa fa-chevron-left"></i>
            </button>
            <div class="glider">
                <figure>
                    <video id="videoPlayer" controls style="width:100%;" poster="<%= baseUrl + thumb[0]%>"
                        src="<%= baseUrl + Path[0]%>" autoplay >
                      </video>
                    <p>
                        <h3><b><%= title[0] %></b></h3>
                        <hr>
                        <h4>
                            Made By: <b><%= name1[0] %></b>
                        </h4>
                    </p>
                </figure>
              
                 <figure>
                    <video id="videoPlayer" controls style="width:100%;" poster="<%= baseUrl + thumb[1]%>"
                        src="<%= baseUrl + Path[1]%>" autoplay >
                      </video>
                      <p>
                        <h3><b><%= title[1] %></b></h3>
                        <hr>
                        <h4>
                            Made By: <b><%= name1[1] %></b>
                        </h4>
                    </p>
                      
                </figure>
                <figure>
                    <video id="videoPlayer" controls style="width:100%;" poster="<%= baseUrl + thumb[2]%>"
                        src="<%= baseUrl + Path[2]%>" autoplay >
                      </video>
                      <p>
                        <h3><b><%= title[2] %></b></h3>
                        <hr>
                        <h4>
                            Made By: <b><%= name1[2] %></b>
                        </h4>
                    </p>
                </figure>
                <figure>
                    <video id="videoPlayer" controls style="width:100%;" poster="<%= baseUrl + thumb[3]%>"
                        src="<%= baseUrl + Path[3]%>" autoplay >
                      </video>
                      <p>
                        <h3><b><%= title[3] %></b></h3>
                        <hr>
                        <h4>
                            Made By: <b><%= name1[3] %></b>
                        </h4>
                    </p>
                </figure>
                <figure>
                    <video id="videoPlayer" controls style="width:100%;" poster="<%= baseUrl + thumb[4]%>"
                        src="<%= baseUrl + Path[4]%>" autoplay >
                      </video>
                      <p>
                        <h3><b><%= title[4] %></b></h3>
                        <hr>
                        <h4>
                            Made By: <b><%= name1[4] %></b>
                        </h4>
                    </p>
                </figure>
                <figure>
                    <video id="videoPlayer" controls style="width:100%;" poster="<%= baseUrl + thumb[5]%>"
                        src="<%= baseUrl + Path[5]%>" autoplay >
                      </video>
                      <p>
                        <h3><b><%= title[5] %></b></h3>
                        <hr>
                        <h4>
                            Made By: <b><%= name1[5] %></b>
                        </h4>
                    </p>
                </figure>
               <!-- <figure>
                    <blockqoute>"This is my awesome little testimonial</blockqoute>
                    <figcaption>John Doe</figcaption>
                </figure>
                <figure>
                    <blockqoute>"This is my awesome little testimonial</blockqoute>
                    <figcaption>John Doe</figcaption>
                </figure>
                <figure>
                    <blockqoute>"This is my awesome little testimonial</blockqoute>
                    <figcaption>John Doe</figcaption>
                </figure>
                <figure>
                    <blockqoute>"This is my awesome little testimonial</blockqoute>
                    <figcaption>John Doe</figcaption>
                </figure>
                <figure>
                    <blockqoute>"This is my awesome little testimonial</blockqoute>
                    <figcaption>John Doe</figcaption>
                </figure> -->
             </div>
            
            
            <button class="glider-next">
                <i class="fa fa-chevron-right"></i>
            </button>
            <div id="dots" class="glider-dots"></div>
        </div>
   
        <script src="glider.min.js"></script>
        <script>
            new Glider(document.querySelector('.glider'),{
                slidesToShow:1,
                draggable:true,
                dots:'#dots',
                arrows:{
                    prev:'.glider-prev',
                    next:'.glider-next'
                }
            })
        </script>
    </body>
</html>
<%- include ("layouts/footer") %>